/* ViewClient.css */

/* Header styles */
.client-header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.client-back {
  color: white;
  text-decoration: none;
}

/* Client card styles */
.client-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.client-card {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.client-card-body {
  padding: 20px;
}

.client-card-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.client-card-text {
  margin: 0;
  margin-top: 10px;
}

.client-btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ppp {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the entire container */
  margin-bottom: 10px; /* Adds space below the image */
}