.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.container input[type="text"],
.container input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container button[type="submit"] {
  background-color: black ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.container button[type="submit"]:hover {
  background-color: grey;
  cursor: pointer;
}
