.login-container {
  max-width: 400px;
  margin: 11vh auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.lago{
  width :100px;
  height: 100px;
  margin-left: 45px;
}

h2{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  top: 17vh;
  left: 48%; 
}
.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  font-size: 16px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="number"]
{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}

.error-message {
  color: #f00;
  margin-bottom: 10px;
}

.login , .forgot-password {
   width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backk{
  width: auto;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px solid;
  cursor: pointer;
  position : absolute;
  top: 10px;
  left: 10px;
  transition: background-color 0.3s;
}

.sign-btn{
  width: auto;
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  font-size: 10px solid;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.01s;
}

.sign-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  font-size: large;
  font-weight: 25px; 
}


.forgot-password {
  display: block;
  text-align: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}
