.sidebarz {
  width: 200px;
  height: 287px;
  background-color: black;
  padding: 20px;
  position: fixed;
  top: 93px;
  left: 0;
  bottom: 0;
}

.sidebarz ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;

}

.sidebarz li {
  margin-bottom: 15px;
}

.sidebarz button {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebarz button:hover {
  background-color: #0056b3;
}

.home-containerz{
  height: 420px; 
}
