/* styles.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.frm{
  margin-top: 20px;
  position: absolute;
  left: 35%;
}

.adquali {
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 40vh;
}

input[type="file"] {
  margin-bottom: 20px;
}

.sbm {
  background-color: black;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.sbm:hover {
  background-color: grey;
}
